* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f3ef;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1504384308090-c894fdcc538d') no-repeat center/cover;
    display: flex;
    align-items: center;
    padding: 0 10%;
    color: #fff;
    position: relative;
}

/* DARK OVERLAY */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

/* HERO CONTENT */
.hero-content {
    position: relative;
    max-width: 600px;

    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}

.hero-content.show {
    opacity: 1;
    transform: translateY(0);
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* BUTTONS */
.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.primary {
    background-color: #c8a97e;
    color: #000;
}

.secondary {
    border: 2px solid #fff;
    color: #fff;
}

/* HOVER EFFECTS */
.primary:hover {
    background-color: #b8966d;
}

.secondary:hover {
    background-color: #fff;
    color: #000;
}
